.display {
    --bg--display: #0004;
    --text-display: #fff;
}

.display {
    background-color: var(--bg--display);
    color: var(--text-display);
    font-size: 1.5em;
    /* Reduced size to fit more text */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-column: span 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}